@using FinalBattle.Data.Enum
@using FinalBattle.ViewModels
@model CreatePostViewModel

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<form method="post" asp-action="Create" enctype="multipart/form-data">
    <input type="hidden" id="UserId" name="UserId" asp-for="UserId" />
    <div class="form-group">
        <label asp-for="Title">Title</label>
        <input asp-for="Title" class="form-control" placeholder="Title">
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Body">Body</label>
        <input asp-for="Body" class="form-control" placeholder="Body">
        <span asp-validation-for="Body" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="PostCategory">Category</label>
        <select asp-for="PostCategory" asp-items="@Html.GetEnumSelectList<PostCategory>()">
            <option>--Select--</option>
        </select>
        <span asp-validation-for="PostCategory" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="CoverImageUrl">CoverImageUrl</label>
        <input asp-for="CoverImageUrl" type="file" class="form-control" placeholder="CoverImageUrl">
        <span asp-validation-for="CoverImageUrl" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
