@using FinalBattle.ViewModels
@model UserDetailViewModel


<div class="container">


    <BR />


    <div class="row">

        <div class="col-md-8">
            <img class="img-fluid" src="@Model.UserImageUrl" alt="">
        </div>

        <div class="col-md-4">
            <h3 class="my-3">占位置</h3>
            <p>占位置</p>
            <h3 class="my-3">Location</h3>
            <ul>
                @*                    <li>@Model.Address.City</li>
                <li>@Model.Address.State</li>
                <li>@Model.Address.ClubCategory</li>*@
            </ul>
        </div>

    </div>




</div>