
    
        <title>23333</title>
    <link rel="stylesheet" href="~/css/home_style.css">

   
        <h1 data-text="FinalBattle666">FinalBattle666</h1>
    

        <script>
    document.addEventListener("DOMContentLoaded", function () {
        var h1 = document.querySelector('h1');
        if (h1) {
            h1.style.position = 'relative';
            // 其他样式设置...
        }
    });

        </script>